/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs
/_eumm/
/old/
SFCON
Spreadsheet
Crypt
Digest
OLE
staff/upload/upload/*
*~
*.sw?
memo.j
tools/pg_person_info.csv
tools/pg_person_open_info.csv
