Options +ExecCGI
AddHandler cgi-script cgi pl
AuthType Basic
AuthUserFile /home/comecon/auth/timetable_staff/passwd
AuthGroupFile /home/comecon/auth/timetable_staff/group
       <Limit HEAD GET POST OPTIONS PROPFIND>
Require valid-user
Require group executives
       </Limit>
