@charset "utf-8";
body {
    margin: 0;
}
a:link {
    text-color: #0000ff;
    text-decoration:none;
}
a:hover {
    text-decoration:none;
    background:yellow;
}
a:active {
    text-color: #ff0000;
    text-decoration:none;
    background:yellow;
}
a:visited {
    text-color: #000099;
    text-decoration:none;
}
@media screen {
    body {
        background:#FFF;
        color: #333333;
    }
    
    a:link,
    a:visited {
        text-decoration:none;
    }
    a:hover,
    a:active {
        text-decoration:none;
        background:yellow;
    }

    .pp {
        display:block;
        color : green;
        font-size : 80%
    } 
    .pp a:link,
    .pp a:visited {
        color : green;
        text-decoration:none;
    }
    .pp a:hover,
    .pp a:active {
        color : green;
        text-decoration:none;
        background:yellow;
    }

    .pp_ng {
        display:block;
        color : green;
        font-size : 80%
    } 
    .pp_ng a:link,
    .pp_ng a:visited {
        color : green;
        text-decoration:line-through;
    }
    .pp_ng a:hover,
    .pp_ng a:active {
        color : green;
        text-decoration:line-through;
        background:yellow;
    }

    .po {
        display:block;
        color : blue;
        font-size : 80%
    }
    .po a:link,
    .po a:visited {
        color : blue;
        text-decoration:none;
    }
    .po a:hover,
    .po a:active {
        color : blue;
        text-decoration:none;
        background:yellow;
    }

    .pr {
        display:block;
        color : red;
        font-size : 80%
    } 
    .pr a:link,
    .pr a:visited {
        color : red;
        text-decoration:none;
    }
    .pr a:hover,
    .pr a:active {
        color : red;
        text-decoration:none;
        background:yellow;
    }

    table {
        padding:0;
        border-style:solid;
        border-color:#999;
        height:auto;
        border:0;
        background:#cccccc;
    }
    tr {
        height:32px;
    }
    tr.roomname {
        text-align:center;
        height:20px;
    }
    tr.tspan {
        text-align:center;
        height:4px;
    }
    td,
    th {
        margin:0;
        padding:0;
        border-style:solid;
        border-width:0 0 1px 1px;
        border-color:#999;
        height:auto;
    }
    td {
        font-size:80%;
        background:#FFF;
        vertical-align:top;
    }
    td.tic {
        background:#FFFFFF;
    }
    th.timeroom {
        font-weight:bold;
        text-align:left;
        background:#cccccc;
    }
    th.time {
        font-weight:bold;
        text-align:left;
        background:#D4C29C;
    }
    th.room {
        text-align:left;
        vertical-align:middle;
        background:#E6FF8E;
    }
    .use {
        background:#ffe0e0;
    }
    .open {
        background:#e0ffe0;
    }
    .unset {
        background:#ffffff;
    }
    .no-use {
        background:#c0c0c0;
    }
    .stop {
        background:#dddddd;
    }
}

@media print {
    body {
        width:99%;
        font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
        font-size:7px;
        line-height:100%;
    }

    a {
        color:#000;
    }

    .pp,
    .po,
    .pr {
        display: none;
    }

    table {
        width:100%;
        margin:0;
        padding:0;
        border-style:solid;
        border-width:1px 1px 0 0 ;
        border-color:#999;
        height:auto;
        background:#FFF;
        height:100%;
    }
    tr {
        height:auto;
    }
    td,
    th {
        margin:0;
        padding:0;
        border-style:solid;
        border-width:0 0 1px 1px;
        border-color:#999;
        height:auto;
    }
    td {
        font-size:60%;
        vertical-align:top;
    }
    td.tic {
        background:#FFFFFF;
    }
    th.timeroom,
    th.time {
        font-size:50%;
        text-align:center;
        font-weight:normal;
        background:#FFF;
    }
    th.room {
        font-size:60%;
        text-align:left;
        font-weight:normal;
        vertical-align:middle;
        background:#FFF;
    }
    .unset,
    .use,
    .open {
        background:#FFFFFF;
    }
    .stop,
    .no-use {
        background:#CCC
    }
}
